.logo{ 
   width: 150px;
   background-image: url(../img/logo.svg);
   height: 100px;
background-repeat: no-repeat;
background-position: bottom;

}

.pattern{
    background-color: cornflowerblue; 
    background-repeat: repeat-x;
    background-image:url(../img/pattern.png);
    height: 150px;
}

.scrittore{
    color: cornflowerblue ;
}

.descrizione{
    font-size: small;
}

.descrizione-2{
    font-size: small;
}

.frase-1{
    background-color: yellow;
}
.prima-cella{
    background-color: cornflowerblue;
    width: 250px;
    text-align: left;
}
.seconda-cella{
    background-color: cornflowerblue;
    width: 250px;
    text-align: left;
}
.terza-cella{
    background-color: cornflowerblue;
    width: 250px;
    text-align: left;
}

.prima-linea{

    background-color: lightgray;
    
    
}

.seconda-linea{

    background-color: white;
    
}

.terza-linea{

    background-color: lightgray;
    
}

